{% extends 'employee_base.html' %}
{% block title %}Employee List{% endblock %}
{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Full Name</td>
                <td>Mobile</td>
                <td>Position</td>
                <td>EMP Code</td>
                <td><a href="{% url 'create' %}" class="btn btn-success btn-block">Add</a></td>
            </tr>
        </thead>
        <tbody>
            {% for employee in list %}
                <tr>
                    <td>{{employee.fullname}}</td>
                    <td>{{employee.mobile}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.emp_code}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md 5">
                                <a href="{% url 'update' employee.id %}" class="btn btn-secondary btn-block">Edit</a>
                            </div>
                            <div class="col-md-7">
                                <a href="{% url 'delete' employee.id %}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
