{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Price</td>
                <td>Summary</td>
                <td><a href="{% url 'create' %}" class="btn btn-success btn-block">Add</a></td>
            </tr>
        </thead>
        <tbody>
            {% for products in product_list %}
                <tr>
                    <td>{{products.title}}</td>
                    <td>{{products.description}}</td>
                    <td>{{products.price}}</td>
                    <td>{{products.summary}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md 5">
                                <a href="{% url 'update' products.id %}" class="btn btn-secondary btn-block">Edit</a>
                            </div>
                            <div class="col-md-7">
                                <a href="{% url 'delete' products.id %}" class="btn btn-danger btn-block">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
